version: "3.9"

services:
  mongodb:
    image: mongo:7
    container_name: mongodb
    ports:
      - "27017:27017"

  server:
    build:
      context: .
      dockerfile: code/server/Dockerfile
    container_name: python_server
    ports:
      - "8000:8000"
    environment:
      - MONGODB_URI=${MONGODB_URI:-mongodb://mongodb:27017}
