version: "3.9"

services:
  mongodb:
    image: mongo:7
    container_name: mongodb
    ports:
      - "27017:27017"

  server:
    build: ./code/server
    container_name: python_server
    ports:
      - "8000:8000"
    depends_on:
      - mongodb
